/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2015, 8:19:57 AM
    Author     : phutx
*/

body { 
    padding-top: 50px; 
    padding-bottom: 50px; 
    background: #DADFE1;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background-color: #37424A;    
}
.sidebar a {
    color: #F5F3EE;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #ff9933;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #eee;
    }
}

//
.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}
.footer {
    position: fixed;
    bottom: 0;
    background: #2C3E50;
    color: #E0E0E0;
    width: 100%;
}
.main-wrapper {
    background: #FFFFFF;
}